<!-- HTML page Author: Kevin Lai -->
{% block content %}
<div class='content-section'>
	<h3><a href="/twitter/home/">Home</a> | <a href="/twitter/create_tweet/">Create a Tweet</a> | <a href="/twitter/show_tweet/">Show Tweets</a></h3>	
	<h1>{{user_screen_name}}'s Latest Tweets</h1>
	<h2>Enter Tweet ID to Delete that Tweet</h2>
	<form method='POST' action ="">
		{{form.hidden_tag()}}
		<fieldset class = "form-group">
			<div class = "form-group">
				Tweet ID: 
				{{ form.tweet_id(class="form-control form-control-lg")}}
			</div>
		<div class = "form-group">
			{{ form.delete_confirm(class="btn btn-outline-info")}}
		</div>	
	</form>
	<br>
	<h2>{{completion_msg}}</h2>
	<br>
	{% for tweet in tweets %}
	<h2>Tweet ID: {{tweet.id}}</h2>
	<h2>"{{tweet.text}}"</h2>
	<h2> created at {{tweet.created_at}}</h2>
	<br>
	{% endfor %}
</div>
{% endblock %}
